.container_admin{
    width: 80%;
    margin: 0 auto;
    padding: 35px;
}
.main_admin{
    padding-top: 20vh;
    background-color: #f9fbfc;
    padding-bottom: 10vh;
}
.notfound{
    padding-top: 40vh;
    background-color: #f9fbfc;
}
.notfound_h{
    padding-bottom: 1vh;
    text-align: center;
}
.notfound_p{
    padding-bottom: 50vh;
}
.expanded-row {
    height: auto !important;
    overflow: visible !important;
  }