
*{
  margin: 0;
  padding: 0;
}

body {
  /* margin: -21px -10px 0px -10px; */
  background-color: rgba(255, 255, 255);
  /* background-blend-mode: overlay; */
  /* font-family: Arial, sans-serif; */
}

/* Navbar */
/* Navbar.css */






/* Ladle css */








/* Footer */

.footer-outer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-inline: 50px;
}
.label-head{
  display: block;
  font-size: 13px;
  padding-bottom: 10px;
}
.nav-footer{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  font-size: 13px;
    line-height: 1.5em;
    letter-spacing: .15em;
    font-weight: 500;
  line-height: 1.5em;
}
.nav-items{
  margin-right: 0;
  margin-left: 1.875vw;
  list-style: none;
}
.nav-items a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: color .4s ease;
}
@media (max-width: 768px) {
  .footer-outer{
    flex-direction: column;
    margin-bottom: 15px;
    padding: 0px;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    user-select: none;
    scroll-behavior: smooth;
    /* cursor: none; */
}
:root{
  --grey:rgba(1,1,1,.5)
}
.center-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
} */
.flex-all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pos-rel{
  position: relative;
}

.drop {
  position: relative;
	width: 20px;
	height: 20px;
  top: -30px;
  margin: 0 auto;
	background: #FFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid rgba(255,255,255,1);
  top: -22px;
}


@keyframes drip {
  to {
    top: 50vh;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background:none;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey); 
}
.ha-title{
  font-size: 56px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

#particles-js{
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 900px){
  .ha-title{
    font-size: 46px;
  }
}
@media screen and (max-width: 800px){
  .ha-title{
    margin-bottom: 25px;
    /* border-bottom: 2px solid white; */
  }
}
@media screen and (max-width: 700px){
  .ha-title{
    font-size: 32px;
  }
}
@media screen and (max-width: 500px){
  .ha-title{
    width: 100%;
    font-size: 32px;
  }
}