
* {
  border: 0;
  margin: 0;
  padding: 0;
}

.a {
  color: black;
  transition: color 0.3s;
  cursor: pointer;
}

.a:focus-visible,
.a:hover {
  text-decoration: none;
}



.body_signup {
  margin-top: 30px;
  display: flex;
  height: 100vh;
  padding-top: 12vh;
  margin-bottom: 10vh;
  transition: background-color 0.3s, color 0.3s;
}

.h1 {
  font-size: 3em;
  margin: 0 0 0.75rem;
}



.signup,
.signup__bg-img,
.signup__col {
  display: flex;
}

.signup,
.signup__col {
  width: 100%;
  height: 100%;
}

.signup__bg-img {
  background: url(https://res.cloudinary.com/dhlsvwpny/image/upload/v1692182436/wallpaperflare.com_wallpaper_tmuhck.jpg) center / cover no-repeat;
  border-radius: 1.5em;
  margin: 7.75em 0.75em 0.75em 165px;
  height: 56%;
  min-height: 20em;
  width: 65%;
}

.signup__brand,
.signup__copyright {
  padding: 0px 0px 25px 12px;
}

.signup__brand {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.signup__brand:before {
  background-color: hsl(223, 10%, 10%);
  border-radius: 50%;
  content: "";
  display: block;
  margin-right: 0.5em;
  width: 0.75em;
  height: 0.75em;
  transition: background-color 0.3s;
}

.signup__btn {
  background-color: black;
    border-radius: 0.2em;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    display: block;
    margin-bottom: 1.5em;
    outline: transparent;
    /* padding: 0.5em 1.5em; */
    position: relative;
    width: 100.4%;
    transition: background-color 0.3s, opacity 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 3vh;
    padding: 0.8em 0.75em;
}

.signup__btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.signup__btn:not(:disabled):focus-visible,
.signup__btn:not(:disabled):hover {
  background-color: rgb(100,100,100);
}

.signup__btn-spinner,
.signup__btn-spinner:before,
.signup__btn-spinner:after {
  animation: spinner 1s ease-in-out infinite;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;
}

.signup__btn-spinner {
  animation-delay: -0.2s;
  display: none;
  top: 50%;
  left: 50%;
  width: 0.375em;
  height: 0.375em;
  transform: translate(-50%, -50%);
}

.signup__btn-spinner:before,
.signup__btn-spinner:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.signup__btn-spinner:before {
  animation-delay: -0.4s;
  left: -0.75em;
}

.signup__btn-spinner:after {
  right: -0.75em;
}

.signup__btn[data-signup="true"] .signup__btn-label {
  visibility: hidden;
}

.signup__btn[data-signup="true"] .signup__btn-spinner {
  display: block;
}

.signup__checkbox,
.signup_field {
  background-color: hsla(223, 90%, 50%, 0);
  border-radius: 0.2em;
  box-shadow: 0 0 0 1px hsl(223, 10%, 70%) inset;
  outline: transparent;
  transition: background-color 0.3s, box-shadow 0.3s;
  -webkit-appearance: none;
  appearance: none;
}

.signup__checkbox {
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
}

.signup__checkbox:before {
  color: hsla(0, 0%, 100%, 0);
  content: "\2713";
  display: block;
  line-height: 1.333;
  text-align: center;
}
.color_red{
  color: red;
}

.gender{
  width: 100%;
    height: 3.5em;
    /* border: 2px solid #c8cbd2; */
    padding: 0.8em 0.75em;
    background-color: hsla(223, 90%, 50%, 0);
    border-radius: 0.2em;
    box-shadow: 0 0 0 1px hsl(223, 10%, 70%) inset;
    outline: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup__checkbox:checked {
  background-color: hsla(223, 90%, 50%, 1);
  box-shadow: 0 0 0 1px var(--primary) inset;
}

.signup__checkbox:checked:before {
  color: hsla(0, 0%, 100%, 1);
}



.signup__col {
  flex-direction: column;
  margin-top: 0px;
}

.signup__copyright p {
  font-size: 0.75em;
  line-height: 2;
  margin: 0;
  margin-bottom: 37px;
}

.signup_field {
  padding: 0.8em 0.75em;
    width: 95%;
    height: 1.5em;
}

.signup_field-group {
  margin-bottom: 0em;
}
.signup_field-group2 {
  margin-bottom: 0em;
  margin-top: -16px;
}

.signup_field-group--horz {
  display: flex;
  justify-content: space-between;
}

.signup__form,
.signup__form-wrapper {
  margin: auto;
}

.signup__form {
  width: 100%;
}

.signup__form-wrapper {
  max-width: 23em;
}

.signup__label {
  display: block;
  font-weight: 500;
}

.signup__label--horz {
  font-weight: normal;
  display: flex;
  align-items: center;
}

.signup__label,
.signup__label + a,
.signup__sign-up {
  font-size: 0.75em;
  line-height: 2;
}

.signup__sign-up {
  margin: 0;
  text-align: center;
}

.signup__testimonial {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.6));
  border-radius: 0 0 1.5em 1.5em;
  margin-top: auto;
  padding: 1.5em;
  width: 100%;
}

.signup__testimonial .p_sign {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
}

.signup__testimonial .p_sign + .p_sign {
  margin-bottom: 0;
}

.signup__testimonial small {
  font-size: 1rem;
}

/* Dark theme */


/* Mobile */
@media (max-width: 767px) {
  .signup__col + .signup__col {
    display: none;
  }

  html{
      font-size: 62%;
  }
}

.hide{
  visibility: hidden;
}
.error{
  color: red;
}
.d_none_signup{
  display: none;
}

.forget{
  font-size: 12px;
  margin: 0px;
  cursor: pointer;
}
.forget:hover{
  color: rgb(100, 100, 100);
}
/* Animations */

.p{
  color: red;
}
.error2{
  visibility: hidden;
}

.block{
  cursor: not-allowed;
}